.root {
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
}

.emptyBasketButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
  background-color: #fff;
  transition: 0.2s;

  &:hover {
    background-color: rgba(128, 128, 128, 0.1);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }
}
