.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #000;
}
.lightTheme {
  background-color: #979797;
}

.logo {
  height: 18px;
  width: 115px;
}

.linkBox {
  position: absolute;
  color: white;
  right: 0;
}
.link {
  color: white;
  margin: 0 8px;
  text-decoration: none;
  
  &:last-child {
    margin-right: 24px
  }
  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}
